<h1>
    <div class="center">
        <p>Това приложение е изготвено като дипломна работа от</p>
        <div>Боян Стефанов Гигов</div>
        <p>ф.н. 121216228</p>
    </div>
</h1>

<br>
<br>
<br>

<h2>
    <div>
        <p>Използвани технологии:</p>
        <p>1.Сървър: Maven, Java, Spring, Jersey, Hibernate, gson, log4j, jackson, tomcat, xml, json</p>
        <p>2.Визуален интерфейс: Angular, d3, nodejs, npm, typescript, html, css, json</p>
        <p>3.База данни: Oracle db, ojdbc driver, dbcp2, liquibase</p>
    </div>
</h2>