<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">

    <persistence-unit name="diplomnaEntityManager">
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
        <class>all.component.diplomna.model.MoodleCourseSectionMO</class>
        <class>all.component.diplomna.model.MoodleModuleMO</class>
        <class>all.component.diplomna.model.MoodleContentMO</class>
        <class>all.component.diplomna.model.MoodleCourseStatisticsMO</class>

        <exclude-unlisted-classes>true</exclude-unlisted-classes>
        <properties>
            <property name="hibernate.connection.datasource" value="dataSourceXmlBean"/>
            <property name="hibernate.cache.provider_class" value="org.hibernate.cache.HashtableCacheProvider"/>
            <property name="hibernate.show_sql" value="true"/>
            <property name="hibernate.format_sql" value="true"/>
            <property name="hibernate.connection.autocommit" value="true"/>
        </properties>
    </persistence-unit>

</persistence>

